#execution {
    
    section {
        
        &:nth-child(odd) {
            background-color: #f2f2f2;
            .images {
                background-color: #fbfbfb;
            }
        }
    
        &:nth-child(even) {
            background-color: #fbfbfb;
            .images {
                background-color: #f2f2f2;
            }
        }

        > div {
            max-width: 1000px;
            margin: auto;
            padding-top: 80px;
        }

        h3 {
            margin-bottom: 60px;
        }

        p {
            margin-bottom: 40px;
        }

        .images {
            padding: 10px ;
            display: inline-block;
            margin-bottom: 80px;

            .image {
                width: 80px;
                height: 80px;
                display: inline-block;
                background-color: #f2f2f2;
                margin: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                &.one {
                    background-image: url("./assets/fake1.jpeg");
                }
                &.two {
                    background-image: url("./assets/fake2.jpeg");
                }
                &.three {
                    background-image: url("./assets/fake3.jpeg");
                }
            }
        }
    }

}