#home {
    .main {
        min-height: 100vh;
        background-color: #e6e7e7;
        
        > div {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 900px;
            margin: auto;
        }

        header {
            padding-top: 40px;
        }

        footer {
            align-self: flex-end;
            padding-bottom: 30px;
        }
    }
}