#home {
    .main {
        min-height: 100vh;
        background-color: #f2f2f2;
        
        .slide {
            display: flex;
            min-height: 0vh;
            flex-direction: column;
            justify-content: space-between;
            max-width: 900px;
            margin: auto;
            opacity: 0;
            max-height: 0px;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-delay: 1s;
            
            header {
                padding-top: 60px;
            }
    
            footer {
                align-self: flex-end;
                padding-bottom: 30px;
                padding-top: 20px;
            }

            &.one {
                animation-name: slide1;
            }
            &.two {
                animation-name: slide2;
            }
            &.three {
                animation-name: slide3;
            }
            &.four {
                animation-name: slide4;
            }
        }
    }

    .about {
        > div {
            max-width: 900px;
            margin: auto;
            padding-top: 60px;

            h1 {
                text-align: center;
                margin-bottom: 80px;

                span {
                    color: #f24d2a;
                }
            }

            p { 
                &:last-child {
                    margin-bottom: 80px;
                }
            }
        }
    }
}