@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600;700&family=Noto+Sans:wght@400;700&display=swap");
:root {
  --plyr-line-height: 2;
  --plyr-color-main: #40ba52;
  --plyr-font-family: 'Krub', sans-serif; }

@keyframes slide1 {
  0% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  5% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  20% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  24% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  25% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  100% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; } }
@keyframes slide2 {
  0% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  25% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  26% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  30% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  45% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  49% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  50% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  100% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; } }
@keyframes slide3 {
  0% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  50% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  51% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  55% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  70% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  74% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  75% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  100% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; } }
@keyframes slide4 {
  0% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  75% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; }
  76% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  80% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  95% {
    opacity: 1;
    min-height: 100vh;
    max-height: 10000px; }
  99% {
    opacity: 0;
    min-height: 100vh;
    max-height: 10000px; }
  100% {
    opacity: 0;
    min-height: 0vh;
    max-height: 0px; } }
h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #2e2e2e; }

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 48px;
  margin: 0;
  line-height: 60px;
  color: #2e2e2e; }
  h2 b {
    font-weight: 700; }

h3 {
  font-family: 'Krub', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  font-size: 22px;
  color: #2e2e2e; }
  h3.red {
    color: #f24d2a; }
  h3.blue {
    color: #00a2d7; }
  h3.green {
    color: #40ba52; }
  h3.purple {
    color: #9b59ac; }
  h3.yellow {
    color: #f1c619; }

h4 {
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  margin: 5px 0;
  font-size: 18px;
  color: #2e2e2e; }
  h4.red {
    color: #f24d2a; }
  h4.blue {
    color: #00a2d7; }
  h4.green {
    color: #40ba52; }
  h4.purple {
    color: #9b59ac; }
  h4.yellow {
    color: #f1c619; }

h5 {
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
  color: #2e2e2e; }

p {
  font-family: 'Krub', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px; }
  p .f-letter {
    font-size: 24px; }

section {
  padding: 0 20px; }
  section:last-of-type {
    margin-bottom: 160px; }

footer.bottom-bar {
  background-color: #2e2e2e;
  padding: 10px 40px;
  display: flex;
  justify-content: flex-end; }
  footer.bottom-bar a {
    color: #fff; }
    footer.bottom-bar a:hover {
      text-decoration: underline; }

footer.player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.28); }
  footer.player .avatar {
    width: 60px;
    height: 60px;
    background-image: url("./assets/garret.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px; }
  footer.player h5 {
    text-align: center;
    margin-bottom: 6px; }
  footer.player .plyr--audio .plyr__controls {
    padding: 0; }

hr {
  background-color: #2e2e2e;
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
  border: 0; }

a {
  text-decoration: none;
  font-family: 'Krub', sans-serif;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  color: #888888;
  padding-bottom: 4px; }
  a.current {
    border-bottom: 2px solid #9b59ac; }

nav {
  padding-top: 40px;
  display: flex; }
  nav a {
    margin-right: 20px; }
    nav a:hover {
      color: #40ba52; }

@media screen and (min-width: 600px) {
  h1 {
    font-size: 60px; }

  h2 {
    font-size: 60px;
    line-height: 80px; }

  h3 {
    font-size: 28px; }

  h4 {
    font-size: 20px; } }
#home .main {
  min-height: 100vh;
  background-color: #f2f2f2; }
  #home .main .slide {
    display: flex;
    min-height: 0vh;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
    opacity: 0;
    max-height: 0px;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 1s; }
    #home .main .slide header {
      padding-top: 60px; }
    #home .main .slide footer {
      align-self: flex-end;
      padding-bottom: 30px;
      padding-top: 20px; }
    #home .main .slide.one {
      animation-name: slide1; }
    #home .main .slide.two {
      animation-name: slide2; }
    #home .main .slide.three {
      animation-name: slide3; }
    #home .main .slide.four {
      animation-name: slide4; }
#home .about > div {
  max-width: 900px;
  margin: auto;
  padding-top: 60px; }
  #home .about > div h1 {
    text-align: center;
    margin-bottom: 80px; }
    #home .about > div h1 span {
      color: #f24d2a; }
  #home .about > div p:last-child {
    margin-bottom: 80px; }

#execution section:nth-child(odd) {
  background-color: #f2f2f2; }
  #execution section:nth-child(odd) .images {
    background-color: #fff; }
#execution section:nth-child(even) {
  background-color: #fff; }
  #execution section:nth-child(even) .images {
    background-color: #f2f2f2; }
#execution section > div {
  max-width: 1000px;
  margin: auto;
  padding-top: 80px; }
#execution section h3 {
  margin-bottom: 60px; }
#execution section p {
  margin-bottom: 40px; }
#execution section .images {
  padding: 10px;
  display: inline-block;
  margin-bottom: 80px; }
  #execution section .images .image {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: #f2f2f2;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    #execution section .images .image.one {
      background-image: url("./assets/fake1.jpeg"); }
    #execution section .images .image.two {
      background-image: url("./assets/fake2.jpeg"); }
    #execution section .images .image.three {
      background-image: url("./assets/fake3.jpeg"); }

#ideas section {
  padding-bottom: 40px; }
  #ideas section:first-child {
    background-color: #f2f2f2;
    margin-bottom: 120px; }
    #ideas section:first-child h3 {
      margin-top: 80px; }
  #ideas section > div {
    max-width: 1000px;
    margin: auto; }
  #ideas section h2 {
    margin-bottom: 80px; }
  #ideas section h3 {
    margin-top: 50px;
    margin-bottom: 40px; }
  #ideas section h4 {
    margin-top: 60px; }
#ideas .block-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; }
  #ideas .block-container .block {
    width: 80px;
    height: auto;
    background-color: #f2f2f2;
    padding: 20px 40px 8px 40px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }
    #ideas .block-container .block img {
      width: 100%;
      display: block; }
    #ideas .block-container .block p {
      text-align: center;
      margin: 0;
      margin-top: 8px;
      font-size: 14px; }
    #ideas .block-container .block .logo-container {
      background-color: #fff;
      padding: 6px; }

/*# sourceMappingURL=styles.css.map */
